.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.del-checkbox {
  position: relative;
  .del-some-checkbox {
    position: absolute;
    left: 0;right: 0;top: 0;
    margin: auto;
    transform: translateY(-100%);
  }
}
.action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
}